<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   DefaultValues.plist
   HTTPClient

   Created by Todd Ditchendorf on 12/2/08.
   Copyright 2008 __MyCompanyName__. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>HCPlaySuccessFailureSounds</key>
        <true/>
        <key>HCWrapRequestResponseText</key>
        <true/>
        <key>HCSyntaxHighlightRequestResponseText</key>
        <true/>
    </dict>
</plist>
